<!-- <div *ngIf="weather"> -->
  <h2>Find Out Today's Weather</h2>

  <p>
    <button (click)="getWeather()">Get Current Weather</button>
  </p>
  <div *ngIf="weather">
    <div>
      <label><strong>City:</strong></label>
      <span> {{weather?.current_observation?.display_location?.full}} </span>
    </div>
    <div>
      <label><strong>Temp:</strong></label>
      <span> {{weather?.current_observation?.temp_f}} F </span>
    </div>
  </div>
  <p class="error">{{errorMessage}}</p>
<!-- </div> -->

